@media screen and (max-width: 750px) {

	.neighborhoods {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 3rem;
	}

	.nh_image_landscape {
		width: 100%;
		background-size: cover;
	}

	.nh_image_portrait {
		width: 100%;
		background-size: cover;
	}	
	
}

@media screen and (max-width: 810px) {
	.title {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 1330px) {

		.form-wrapper cf {
		width: 25%;
	}
	.form-wrapper input {
		width: 45%;
		font: bold 10px 'lucida sans', 'trebuchet MS', 'Tahoma';

	}

	.form-wrapper button {
		width: 50%;
	}

}

