/** {
	border-style: solid;
	border-color: red;
}*/


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin slab', serif;
	color: hotpink;
	background-color: #F5FFFF 
}

h1 {
	margin: 0;
	font-size: 2.5em
}

h2 {
	font-size: 3rem;
	text-align: center;
	padding-top: 15px
}

.content {
	margin-left: 2.5%;
	width: 95%;
	box-sizing: border-box;
}

.neighborhoods {
	background: url('../img/big4.jpg') no-repeat;
	background-color: rgba(149,165,166,1.0);
	font-size: 2.5rem;
	text-align: center;
	margin: 0;
	height: 150px;
	padding-top: 35px;
}

.nh_row {
	

	min-height: 200px;
	max-height: 500px;
}

div[class^="nh_image"] {
	display: flex;
	margin: 0;
	padding: 0;
	height: 500px;
	margin-top: 20px;
	display: block;
	float: left;
	background-origin: content-box;
	padding-right: 1.5%;
	background-size: cover;
	box-sizing:border-box;
	background-clip: content-box;
	flex-flow: column;
	
}

.nh_image_landscape {
	width: 60%;
}

.nh_image_portrait {
	width: 40%;
}

.highlands {
	background: url('../img/highlands.jpg') no-repeat;
	/*background-size: 98%;*/ 
}

.germantown {
	background: url('../img/germantown.jpg') no-repeat;
}

.crescenthill {
	background: url('../img/crescenthill.jpg') no-repeat;
}

.oldlouisville {
	background: url('../img/oldlouisville2.jpg') no-repeat;
}

.downtown {
	background: url('../img/downtown.jpg') no-repeat;
	/*background-size: 98%;*/
}

.search {
	background: url('../img/bridge.jpg') no-repeat;
}

.pages {
	text-align: center;
	background-color: rgba(149, 165, 166,1.0);
	font-size: 3rem;
	text-align: center;
	margin: 0;
	height: 150px;
	padding-top: 35px;
}

.logo {
	font-size: 2rem;
	background-color: rgba(149, 165, 166,1.0); 
	text-decoration: underline;
	padding-top: 10px;
	padding-left: 10px;
}

.address {
    text-align: left;

}

.hepburn {
    float: right;
    margin-right: 150px;
    margin-top: 40px;
    color: #696969;
}

.picture {
    margin-left: 200px;
}

.renter {
    background-color: #696969;
    color: lightgrey;
    padding: 5px;
    margin-top: 15px;
}

p {
    margin-top: 20px;
    font-weight: bold;
}

li {
    list-style: none;
}

footer ul {
	list-style: none;
	position: fixed;
	height: 25px;
	font-size: 1.35rem;
	bottom: 0;
	right: 55px;
	background-color: rgba(1,1,1,.5);
	padding-left: 10px;
	padding-right: 10px;

}

footer ul li {
	display: inline;
	width: 200px;
}

a:link {
	text-decoration: none;
}

a:visited{
	color: hotpink;
}

a:hover {
	color: white;
}

img {
	margin: 30px;
	height: 300px;
	width: 225px;
}

a {
        color: #ccc;
    }
    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .form-wrapper {
        width: 450px;
        padding: 15px;
        margin: 50% auto 0px auto;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper input {
        width: 330px;
        height: 20px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background:hotpink;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #45A4AF;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent hotpink transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #45A4AF;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
   
   .hpsearch .form-wrapper {
   	margin-top: 125px;
   }
